
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    transition: background-color 1s, color 0.5s;
    font-family: 'Georgia', serif;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}

.section h2 {
    position: sticky; /* Makes the header sticky within the section */
    top: 0; /* Aligns the header to the top of the section */
    background-color: inherit; /* Inherits the background color of the section to cover content beneath */
    z-index: 1; /* Ensures the header stays on top of other elements in the section */
}

.right-align {
    display: block;
    text-align: right;
}

h1 {
    margin-bottom: 2rem;
    font-size: 3.5rem;
}

h2 {
    margin-top: 10rem;
    margin-bottom: 10rem;
    font-size: 2rem;
}

img, video {
    max-width: 500px;
    max-height: 80vh;
    height: auto;        /* Let the width adjust automatically to maintain aspect ratio */
    margin: 1rem 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
