
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    transition: background-color 1s, color 0.5s;
    font-family: 'Georgia', serif;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.section h2 {
    z-index: 1;
    width: 100%;
    padding: 10px 0; /* Add some padding for better appearance */
    text-align: center; /* Center the text */
}

.right-align {
    display: block;
    text-align: right;
}

h1 {
    margin-bottom: 2rem;
    font-size: 3.5rem;
}

h2 {
    padding-top: 10rem;
    padding-bottom: 10rem;
    font-size: 2rem;
    margin-top: 0;
}

img, video {
    max-width: 500px;
    max-height: 80vh;
    height: auto;        /* Let the width adjust automatically to maintain aspect ratio */
    margin: 1rem 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#toc {
    position: fixed;
    right: 10px;
    top: 40px;  /* Adjust this based on the button's size */
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
    max-height: 70vh;  /* You might want to limit the height and make it scrollable */
    overflow-y: auto;
}

#toc.hidden {
    display: none;
}

#toc a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
}

#toc a:hover {
    text-decoration: underline;
}

#tocToggle {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 1001;  /* Ensure it's above the TOC */
}
