.c_container_border {
    border: #bbb;
    border-style: solid;
    border-radius: 7px;
    background-color: white;
}

body {
    min-height: 1000px;
}

.h6,
h6 {
    color: cadetblue;
}

.c_question {
    color: #818182;
}

#loading {
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: absolute;
    background: #ffffff8c;
}

.highlighted {
    background: yellow;
    color: black;
}